a {
    text-decoration: none;
    color: lightblue;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(30,30,30);
}

footer, h1, h2, h3, li, p {
    color: rgb(200,200,200);
}

h1 {
    margin-top: 4rem;
}

h2, h3 {
    margin-left: 1rem;
}

p {
    margin: 0rem 2rem 1rem 2rem;
}

.prompt {
    margin: 0rem 2rem 0.4rem 2rem;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.text-li {
    margin-bottom: 0.5rem;
}

.weather {
    margin-top: 1rem;
}


/* Buttons */

.button {
    font-weight: bold;
    margin: 0.8rem;
    font-size: 1.3em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    border: none;
    border-radius: 15px;
}

.button:active {
    transform: translateY(4px);
}

#button-calm {
    padding: 1.2rem 2rem;
    background-color: lightsteelblue;
}
  
#button-calm:hover {
    background-color: lightskyblue;
}

#button-wind {
    padding: 1.2rem 1.7rem;
    background-color: palevioletred;
}
  
#button-wind:hover {
    background-color: mediumvioletred;
}
  
#button-send {
    padding: 1rem 1.5rem;
    background-color: rgb(200,200,200);
}
  
#button-send:hover {
    background-color: lightgreen;
}


/* Text input fields */

.textfield {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    border-radius: 5px;
    background-color: rgb(200, 200, 200);
    margin: 2rem 1rem 0rem 1rem;
    padding: 1rem;
    border: none;
}


/* Footer */

footer {
    margin: 1rem;
    padding: 1rem;
    font-size: 0.7em;
}


/* Messages */

.messages-ul {
    list-style-type: none;
}

.messages-li {
    color: yellow;
    font-weight: bold;
    font-size: 1em;
    margin: 0rem 2rem 0.4rem 0rem;
}


/* Navigation */

.active {
    background-color: rgb(30,30,30);
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(50, 50, 50);
    overflow: hidden;
}

.nav-li {
    display: inline;
    margin: 0;
}

.nav-li a {
    display: block;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 0.9em;
}

.nav-li a:hover {
    background-color: rgb(30,30,30);
}

.nav-login {
    margin-left: auto;
}

.nav-logout {
    margin-left: auto;
}

@media only screen and (min-width: 768px) {
    p, h1, h2, h3, li {
        margin-left: 12rem;
        margin-right: 12rem;
    }
}