{% extends "mazu/layout.html" %}

{% block nav %}

<nav>
    <ul class="nav-ul">
        <li class="nav-li"><a href="{% url 'mazu:index' %}">Skapa</a></li>
        <li class="nav-li"><a class="active" href="{% url 'mazu:about' %}">Om Mazu</a></li>
        <!-- {% if not user.is_authenticated %}
            <li class="nav-li"><a href="{% url 'mazu:register' %}">Registrera</a></li>
            <li class="nav-li nav-login"><a href="{% url 'mazu:login' %}">Logga in</a></li>
        {% endif %}
        {% if user.is_authenticated %}
            <li class="nav-li nav-logout"><a href="{% url 'mazu:logout' %}">Logga ut</a></li>
        {% endif %} -->
    </ul>
</nav>

{% endblock %}

{% block heading %}
    <h1>Om Mazu</h1>
{% endblock heading %}

{% block content %}

    <p>
        ”Mazu: Vattenlegender” är ett utställnings- och performanceprojekt under utveckling av Johan Stjernholm. Verket visas som en tidig prototyp för publik under den internationella dansfestivalen för Dansens Dag på Argus i Falkenberg den 28 april 2024.
    </p>
    <p>
        Projektet handlar om en mytologisk kinesisk gestalt, havsgudinnan Mazu, som av misstag råkar materialiseras i vår nutida värld, dels som en artificiell intelligens, dels som en människa.
    </p>
    <p>
        Du kan interagera med Mazu som en artificiell intelligens genom att skriva meddelanden i den här appen på sidan <a href="{% url 'mazu:index' %}">Skapa med Mazu</a>. Vad du skriver kommer att leda till ett gensvar som läses upp av en röst i utställningslokalen.
    </p>
    <p>
        Mazus gensvar är ibland svåra att tolka, då hon talar i stil med gammal kinesisk poesi blandat med fragmentarisk kunskap om vår nutida värld. Kom ihåg att Mazu just har anlänt och inte riktigt vet vad som försiggår här.
    </p>
    <p>
        “Mazu: Vattenlegender” är sponsrat genom ett residens av <a href="https://www.kungsbackateater.se/sv/">Kungsbackateatern</a> och <a href="https://www.rumfordans.se/">Rum för Dans</a> och kommer att visas i Kungsbackateatern den 28 Juni 2024.
    </p>


    <h2>Om Johan Stjernholm</h2>
    <p>
        Johan Stjernholm är en internationellt erkänd och prisbelönad konstnär och forskare med en doktorsgrad i dansstudier från University of the Arts London. Hans verk har visats i Asien, Europa och Amerika. Sedan 2014 har Stjernholm varit baserad i Sydkorea respektive Kina som professor i Performance Studies. Han har under åren i Östasien också utvecklat produktioner för teatrar, museer och film. Innan dess arbetade Stjernholm som universitetslektor i koreografi vid Royal Academy of Dance i London.
    </p>
    <p>
        För tillfället arbetar Stjernholm med att utveckla utställnings- och performanceprojektet "Mazu: Vattenlegender." Verket bygger på kinesiska myter och legender, självbiografiska element och nutida ekologiska problem relaterade till vatten och hav.
    </p>
    <p>
        Mazu är ett interaktivt verk där publiken agerar som medskapare. Verket består av en interdisciplinär blandning av performancekonst, datorvetenskap, teater, musik och dans.
    </p>
    <p>
        Stjernholms tvärvetenskapliga forskning handlar om hur artister kritiskt kan engagera sig i generativ artificiell intelligens, både som en del av den kreativa processen och som kreativa, interaktiva element under föreställningens utförande.
    </p>

    <h3>Exempel på tidigare verk av Johan Stjernholm:</h3>
    <ul>
        <li class="text-li">
            Kompositör för filmen “Moonlight Warrior” (2023), som vann pris för Best Feature Film Screenplay på Next Generation Indie Film Awards 2023 i Hollywood, Los Angeles, USA. Regissör: Hong Ying.
        </li>
        <li class="text-li">
            Konstnärlig ledare för performance-utställningen ”Who is Alice?” (2022) på U2 by UCCA galleriet i Peking, Kina, i samarbete med Victoria & Albert Museum, London.
        </li>
        <li class="text-li">
            Konstnärlig ledare för utställningen “Alchemy: Paths of Transformation” (2021) på Art Haitang, Sanya, Kina.
        </li>
        <li class="text-li">
            Regissör för filmen “Phantom Pilgrimage” (2021) som visats på flera konstmuseer och gallerier i Kina.
        </li>
        <li class="text-li">
            Producent och kompositör för operan “Desireworks” (2017), Sydkorea.
        </li>
        <li class="text-li">
            Producent för operan “The Golden Apple” (2016), Sydkorea.
        </li>
    </ul>

    <h3>Kontakt:</h3>
    <p>
        Kontakta Johan Stjernholm via <a href=”https://www.linkedin.com/in/stjernholm/”>LinkedIn<a>:
    </p>
    <p>
        <a href=”https://www.linkedin.com/in/stjernholm/”>https://www.linkedin.com/in/stjernholm/</a>.
    </p>


    <h2>Om Dansens Dag Falkenbergs Internationella Dansfestival, 28 april 2024</h2>
    <p>
        Dansens Dag Falkenbergs Internationella Dansfestival 2024 är en produktion av Johan Stjernholm i samarbete med Studieförbundet Vuxenskolan, Argus, Falkhallen, Falkenbergs Kommun, Space Engineering Art Project, Rum för Dans, Dansstudion, och Folkuniversitetet.
    </p>
    <p>
        Festivalen innehåller en workshop med den colombianska dansartisten Andrea Peña, uppträdanden av svenska artister, samt en work-in-progress uppvisning av Johan Stjernholms kommande verk “Mazu: Vattenlegender”.
    </p>

{% endblock content %}