{% extends "mazu/layout.html" %}
{% load static %}

{% block nav %}

<nav>
    <ul class="nav-ul">
        <li class="nav-li"><a class="active" href="{% url 'mazu:index' %}">Skapa</a></li>
        <li class="nav-li"><a href="{% url 'mazu:about' %}">Om Mazu</a></li>
        <!-- {% if not user.is_authenticated %}
            <li class="nav-li"><a href="{% url 'mazu:register' %}">Registrera</a></li>
            <li class="nav-li nav-login"><a href="{% url 'mazu:login' %}">Logga in</a></li>
        {% endif %}
        {% if user.is_authenticated %}
            <li class="nav-li nav-logout"><a href="{% url 'mazu:logout' %}">Logga ut</a></li>
        {% endif %} -->
    </ul>
</nav>

{% endblock nav %}


{% block heading %}
    <h1>Skapa med Mazu</h1>
{% endblock heading %}


{% block content %}

    {% if not request.session.prompt %}

        <div class="flex-container">
            <form action="{% url 'mazu:message' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="button" id="button-send" type="submit" value="Sänd">
            </form>
        </div>


    {% elif not request.session.answer %}

        <h3>Mazu is thinking about your message "{{ request.session.prompt }}"...</h3>
        <div class="loader"></div>

    {% else %}

        <div class="flex-container">
            <form action="{% url 'mazu:message' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="button" id="button-send" type="submit" value="Sänd">
            </form>
        </div>

        <h3>Mazu svarade:</h3>
        <h3>"{{ request.session.prompt }} {{ request.session.answer }}"</h3>

    {% endif %}


    <!-- {% if not user.is_authenticated %}
        <div class="flex-container">
            <p>För att kunna skapa med Mazu måste du först logga in eller registrera dig</p>
        </div>
    {% endif %} -->

    <!-- <div class="flex-container weather">
        <form action="{% url 'mazu:weather' %}" method="post">
            {% csrf_token %}
            <input class="button" id="button-calm" type="submit" name="zero" value="Stilla">
            <input class="button" id="button-wind" type="submit" name="one" value="Blåsigt">
        </form>
    </div> -->

    <!-- {% if prompts %}
    <div class="flex-container">
        <h3>Mazu hörde dig säga:</h3>
    </div>

    <div class="flex-container">
        <div class="list">
            {% for prompt in prompts reversed %}
                <li class="prompt">"{{ prompt }}"</li>
            {% endfor %}
        </div>
    </div>
    {% endif %} -->

    <!-- TODO: restore authentication requirements -->
    <!-- {% if user.is_authenticated %}

        {% if prompts %}
            <div class="flex-container">
                <h3>Mazu hörde dig säga:</h3>
            </div>

            <div class="flex-container">
                <div class="list">
                    {% for prompt in prompts reversed %}
                        <li class="prompt">"{{ prompt }}"</li>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if not prompts %}
        <div class="flex-container">
            <h3>Du har inte sagt något än...</h3>
        </div>
        {% endif %}

    {% endif %} -->

    {% block script %}
        <script src="{% static 'mazu/index.js' %}"></script>
    {% endblock script %}

{% endblock content %}