{% extends "mazu/layout.html" %}

{% block content %}
<div class="flex-container">

    <div>
        <h1>Skapa med Mazu</h1>
    </div>
    
    <form action="{% url 'mazu:weather' %}" method="post">
        {% csrf_token %}
        <div>
            <input class="button" id="calm_button" type="submit" name="zero" value="Stilla">
            <input class="button" id="wind_button" type="submit" name="one" value="Blåsigt">
        </div>
    </form>

    <form action="{% url 'mazu:message' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input class="button" id="send_button" type="submit" value="Sänd">
    </form>

    <div class="list_title">
        {% if prompts %}
            <h3>Mazu hörde dig säga:</h3>
        {% endif %}
    </div>
    <div class="list">
        {% for prompt in prompts reversed %}
        <li>{{ prompt }}</li>
    {% empty %}
    </div>
        <h3>Du har inte sagt något än...</h3>
    {% endfor %}

</div>
{% endblock content %}