{% extends "mazu/layout.html" %}

{% block content %}
<div class="flex-container">

    <div>
        <h1>Skapa med Mazu</h1>
    </div>
    
    <form action="{% url 'mazu:weather' %}" method="post">
        {% csrf_token %}
        <div>
            <input class="button" id="calm_button" type="submit" name="zero" value="Stilla">
            <input class="button" id="wind_button" type="submit" name="one" value="Blåsigt">
        </div>
    </form>

    <form action="{% url 'mazu:message' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input class="button" id="send_button" type="submit" value="Sänd">
    </form>

    {% if user.is_authenticated %}

        {% if prompts %}
            <div class="list_title">
                <h3>Mazu hörde dig säga:</h3>
            </div>
            <div class="list">
                {% for prompt in prompts reversed %}
                    <li>"{{ prompt }}"</li>
                {% endfor %}
            </div>
        {% endif %}

        {% if not prompts %}
            <div>
                <h3>Du har inte sagt något än...</h3>
            </div>
        {% endif %}

        <div class="logout_div">
            <form action="{% url 'mazu:logout' %}">
                {% csrf_token %}
                <div class="center">
                    <input class="button" id="logout_button" type="submit" name="logout" value="Logga ut">
                </div>
            </form>
        </div>

    {% endif %}

    {% if not user.is_authenticated %}

        <form action="{% url 'mazu:login' %}" method="get">
            {% csrf_token %}
            <div>
                <input class="button" id="login_button" type="submit" name="login" value="Logga in">
            </div>
        </form>

    {% endif %}

</div>
{% endblock content %}