{% load static %}
<!DOCTYPE html>
<html>
    <head lang="se">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mazu</title>
        <link rel="stylesheet" href="{% static 'mazu/styles.css' %}">
    </head>
    <body>
        <div class="flex-container">
            {% block nav %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            <footer>&copy;Johan Stjernholm 2024</footer>
        </div>
    </body>
</html>
