{% load static %}
<!DOCTYPE html>
<html>
    <head lang="se">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mazu</title>
        <link rel="stylesheet" href="{% static 'mazu/styles.css' %}">
    </head>
    <body>
        <div class="flex-container">
            {% block nav %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            <footer>
                <!-- <p>
                    Vi använder bara nödvändiga kakor för din säkerhet och funktionalitet.
                </p>
                <p>
                    Vi varken spårar eller skapar statistik på dig.
                </p>
                <p>
                    Genom att använda denna websidan samtycker du till Mazus användande av kakor.
                </p>
                <p> -->
                    &copy;Johan Stjernholm 2024
                <!-- </p> -->
            </footer>
        </div>
    </body>
</html>
