{% load static %}
<!DOCTYPE html>
<html>
    <head lang="se">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mazu</title>
        <link rel="stylesheet" href="{% static 'mazu/styles.css' %}">
    </head>
    <body>

        {% block nav %}
        {% endblock %}

        <div class="flex-container">
            {% block heading %}
            {% endblock %}
        </div>

        {% if messages %}
            <div class="flex-container">
                <ul class="messages-ul">
                    {% for message in messages %}
                    <li class="messages-li">{{ message }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}

        <div class="flex-container">
            <footer>&copy;Johan Stjernholm 2024</footer>
        </div>

        <!-- The Modal -->
        <div id="cookie-modal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <button class="button close">OK</button>
                    <h2>Vi använder kakor</h2>
                </div>
                <div class="modal-body">
                    <p>Vi använder endast kakor som är nödvändiga för din säkerhet och webbsidans funktionalitet.</p>
                    <p>Vi använder inte kakor som spårar, analyserar, eller skapar statistik på dig.</p>
                    <p>Genom att använda denna webbsidan ger du ditt samtycke till vårt användande av kakor.</p>
                </div>
                <div class="modal-footer">
                    <h3>Space Engineering Art Project</h3>
                </div>
            </div>
        
        </div>

        <script src="{% static 'mazu/layout.js' %}"></script>
        {% block script %}
        {% endblock %}

    </body>
</html>
