{% extends "mazu/layout.html" %}

{% block nav %}

<nav>
    <ul class="nav-ul">
        <li class="nav-li"><a href="{% url 'mazu:index' %}">Skapa</a></li>
        <li class="nav-li"><a href="{% url 'mazu:about' %}">Om Mazu</a></li>
        {% if not user.is_authenticated %}
            <li class="nav-li"><a href="{% url 'mazu:register' %}">Registrera</a></li>
            <li class="nav-li nav-login active"><a href="{% url 'mazu:login' %}">Logga in</a></li>
        {% endif %}
        {% if user.is_authenticated %}
            <li class="nav-li nav-logout"><a href="{% url 'mazu:logout' %}">Logga ut</a></li>
        {% endif %}
    </ul>
</nav>

{% endblock %}

{% block heading %}
    <h1>Logga in till Mazu</h1>
{% endblock heading %}

{% block content %}

    <div class="flex-container">
        <form action="{% url 'mazu:login' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input class="button" id="button-send" type="submit" value="Sänd">
        </form>
    </div>

{% endblock content %}