{% extends "mazu/layout.html" %}

{% block nav %}

<nav>
    <ul class="nav_ul">
        <li class="nav_li"><a href="{% url 'mazu:index' %}">Skapa</a></li>
        <li class="nav_li"><a href="{% url 'mazu:about' %}">Om Mazu</a></li>
        {% if not user.is_authenticated %}
            <li class="nav_li active"><a href="{% url 'mazu:register' %}">Registrera</a></li>
            <li class="nav_li nav_login"><a href="{% url 'mazu:login' %}">Logga in</a></li>
        {% endif %}
        {% if user.is_authenticated %}
            <li class="nav_li nav_logout"><a href="{% url 'mazu:logout' %}">Logga ut</a></li>
        {% endif %}
    </ul>
</nav>

{% endblock %}

{% block content %}

    <h1>Registrera dig</h1>

    <form action="{% url 'mazu:register' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input class="button" id="send_button" type="submit" value="Sänd">
    </form>

{% endblock content %}